:root {
  --primary-color: rgb(51, 0, 131);
  --secondary-color: rgb(144, 17, 105);
  --heading-font-family: 'Shrikhand', cursive ;
  --default-font-family: 'Quicksand', sans-serif;
  --box-shadow: 0 0 6px #777777;
}

body {
  font-family: var(--default-font-family);
  margin: 100px 60px 60px 60px;
  background: radial-gradient(circle at 52.1% -29.6%, var(--secondary-color) 0%, var(--primary-color) 100.2%);
  background-attachment: fixed;
}

.content {
  text-align: center;
  margin: 0 auto;
  padding: 20px 30px;
  color: white;
  background-color:  rgb(255, 255, 255, 0.5);
  border-radius: 20px;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 32px;
  opacity: 0.8;
}

.btn-branding {
  margin: 20px;
  color: white;
  background-color: var(--secondary-color);
  padding: 15px 30px;
  font-size: 18px;
  box-shadow: var(--box-shadow);
}

.btn-branding-outline {
  color: white;
  background-color: var(--secondary-color);
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: var(--box-shadow);
}

.projects-description {
  padding: 120px 60px;
}

.about-hero h1 {
  font-size: 64px;
}

.about-hero h2 {
  font-size: 24px;
}

.about-hero-content {
  margin: 30px;
}

img {
  border-radius: 10px;
  box-shadow: var(--box-shadow);

}
.my-work img {
  transition: all 200ms ease-in-out;
}

.my-work img:hover {
  filter: contrast(100%);
  transform: scale(1.1);
}


@media (max-width: 800px) {
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 14px;
  }
  .projects-content {
    padding: 0;
    text-align: center;
  }

  .about-hero {
    text-align: center;
    padding: 0;
  }

  .about-hero-content h1 {
    font-size: 50px;
  }
}