:root {
  --primary-color: rgb(144, 17, 105);
  --secondary-color: rgb(51, 0, 131);
  --heading-font-family: 'Shrikhand', cursive ;
  --default-font-family: 'Quicksand', sans-serif;
  --box-shadow: 0 0 6px #777777;
}

body {
  background: radial-gradient(circle at 52.1% -29.6%, var(--primary-color) 0%, var(--secondary-color) 100.2%);
  background-attachment: fixed;
  font-family: var(--default-font-family);
  color: white;
  margin: 30px;
}

.content {
  text-align: center;
  margin: 30px auto;
  padding: 40px;
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 20px;
  max-width: 1200px;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

nav {
  padding: 0 50px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 52px;
  margin-left: 25px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  transition: all 100ms ease-in-out;
}

 nav a:hover,
 nav li.active a {
  opacity: 0.6;
 }

 .skills {
   display: flex;
   justify-content: space-around;
 }

 .skills i {
   font-size: 34px;
 }

 .skills p {
   font-size: 16px;
 }

img {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
 
.logo-photo {
  max-width: 70px;
  border-radius: 50%;
}

.my-work img {
  transition: all 200ms ease-in-out;
  max-width: 400px;
}

.my-work img:hover {
  filter: contrast(100%);
  transform: scale(1.1);
}

.project-description {
  margin-top: 40px;
}

.project-description p {
  text-align: justify;
}

.btn-branding {
  margin: 20px;
  color: white;
  background-color: var(--primary-color);
  padding: 15px 30px;
  font-size: 18px;
  box-shadow: var(--box-shadow);
}

.btn-branding:hover {
  background: var(--secondary-color);
}

.btn-branding-outline {
  color: white;
  background-color: var(--primary-color);
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: var(--box-shadow);
}

.btn-branding-outline:hover {
  background: var(--secondary-color);
}

.email {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.social-links a {
  margin: 0 10px;
  color: white;
  padding: 10px 12px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

.social-links a:hover {
  background-color: var(--primary-color);
}

.opacity {
  opacity: 0.8;
}

@media (max-width: 768px) {

  body {
    margin: 10px;
  }

  .content {
    padding: 20px;
  }

  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 32px;
    margin: -5px;
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }

    nav li {
      margin-left: 15px;
    }

  nav a{
    font-size: 14px;
  }

  .skills i {
    font-size: 18px;
  }

  .skills p {
    font-size: 11px;
  }

  .project-description {
    margin-top: -10px;
  }

  .project-description p {
    margin-top: -25px;
  }

  .btn-branding-outline {
    margin-top: -10px;
  }

.email {
  font-size: 14px;
}

}

@media (max-width: 576px) {

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 18px;
  }

  .btn-branding {
    font-size: small;
    margin-top: 0;
  }
}